<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>About</title>
  <link rel="icon" href="static/image/Marvel.png" type="image/icon type">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
  <link rel="stylesheet" href="static/css/style2.css" />
  <link rel="stylesheet" href="static/css/style.css" />

  <div id="mySidenav" class="sidenav">
    <a href="/" id="home">HOME</a>
    <a href="/about" id="about">ABOUT</a>
    <a href="/universe" id="universe">MARVEL NETWORK</a>
    <a href="/powerGrid" id="powerGrid">SUPERHERO POWER GRID</a>
    <a href="/superpowerAbilities" id="superpowerAbilities">SUPERPOWER ABILITIES</a>
    <a href="/X_Men_network" id="X_Men_network">X_MEN NETWORK</a>
    <a href="/characters" id="characters">CHARACTERS</a>
  </div>
  <style>
    #center {
      text-align: center;
    }
    .toolTip {
      position: absolute;
      display: none;
      min-width: 80px;
      height: auto;
      background: none repeat scroll 0 0 #ffffff;
      border: 1px solid #6F257F;
      padding: 14px;
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">

        <!-- header -->
        <header class="page-header">
          <h1>About</h1>
          <h2></h2>
        </header>
      <img class="pic3" src="static/image/Marvel_profiles.jpg" alt="" >
      </div>
      <div class="col-xs-12 text-start"> 
        <p class="text">‌    ‌    ‌    ‌    自1939年由马丁·古德曼创立以来，漫威漫画发展成为一个巨大的电影娱乐实体，将其最著名的角色搬上银幕，而这些角色的故事在数十年前曾以漫画书的形式谦逊地创作出来。漫威时代正式始于1961年，当时公司推出了由斯坦·李等人创作的《神奇四侠》和超级英雄系列。斯坦·李创造了漫威最知名的超级英雄，如美国队长、蜘蛛侠、钢铁侠、金刚狼、绿巨人、雷神、蚁人（巨人）、黄蜂女、奇异博士、绯红女巫、隐形女和石头人。大多数漫威的虚构角色活动于一个称为漫威宇宙的单一现实中，尽管这个宇宙后来被描绘为由数千个独立宇宙组成的“多元宇宙”。</p><hr> 
      </div>
      <div class="col-xs-12 text-center"> 
        <p class="text">此项目探讨了漫威宇宙，首先回顾其整体历史及复杂的整体性，然后具体分析最具网络影响力和知名度的20位超级英雄，以及他们为何成为超级英雄的原因。<br></br>角色历史和人口统计数据最初来源于Kaggle和漫威的官方维基。</p><hr>
        
        <p class="text">不同的标签页按顺序引导您从一个交互式可视化跳转到下一个。用户提示以红色高亮显示在每个可视化的上方。</p><hr>
          

      <div id="center">
      <h3>12,940个角色根据其阵营（善良、邪恶、中立）与身份（公开、秘密、无双重身份——无别名/替身）进行统计评估。<br></br>下方的环形图展示了漫威宇宙中这些分类数据的比例。</h3></div>
      <div class="col-xs-6 text-center">
        <!-- Load d3.js & color scale -->
        <script src="https://d3js.org/d3.v5.js"></script>
        <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

        <!-- Create a div where the graph will take place -->
        <div id="my_dataviz"></div>
      </div>
      <div class="col-xs-6 text-center">  
        <div id="my_dataviz2"></div>
      </div>
      <br>
      <br>
      <br>
      <br>
    </div>
      <div id="center">
        <h3>漫威漫画辉煌的82年历史中已推出超过7,000个角色——如果算上一次性和次要的超级英雄、反派和其他变种人，可能超过50,000个。下方的条形图显示了直到2013年的每年角色创作数量。尽管50年代后期仅创作了少数新角色，90年代初期创作了最多的角色。单单1993年就诞生了554个角色，这是单一年份中最多的。</h3></div>
        <div id="tooltip"></div>
      </div>
  </div>


  <!-- scripts -->
  <script src="static/js/about.js"></script>
  <script src="static/js/about2.js"></script>
  <script src="static/js/about3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.2/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  
</body>

</html>

